<!DOCTYPE html>
<html lang="en" class=" js no-touch">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>World Cup - Error 404</title>
    <meta name="description" content="The world cup 2014 Presented from Team Possible">
    <meta name="keywords" content="world cup, 2014, soccer, software engineering">
    <meta name="author" content="Team Possible">
    <link rel="shortcut icon" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/favicon2.ico">
    <link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/normalize.css">
    <link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/demo.css">
    <link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/component.css">
    <script type="text/javascript" async="" src="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/ga.js"></script>
    <script src="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/modernizr.custom.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Nivo stufff -->
<link rel='stylesheet' id='nivoslider-css'  href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/slider/nivo-slider.css" type='text/css' media='all' />

<!-- this one has a color problem -->
<link rel='stylesheet' id='twentytwelve-style-css'  href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/slider/style.css" type='text/css' media='all' />

<script type='text/javascript' src="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/slider/jquery.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/slider/custom.css" />

<!-- Nivo stufff -->


<!-- Three circle stuff -->
<link rel="stylesheet" type="text/css" media="screen" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/aseal.css" />

<!-- Three circle stuff -->

    <style type="text/css"></style>
    <style type="text/css"></style>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7243260-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
  </script>
  </head>



      <!-- css stylesheet for our 404 page -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://bootsnipp.com/css/bootsnipp.css?ver=3dad078c6953f3a8a72bbfccae6365ae">
    <link rel="stylesheet" href="http://bootsnipp.com/css/ladda-themeless.min.css">

  <!-- css inline style for 404 page -->
  <style type="text/css">

    .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}

  </style>

  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="hero-unit center">
              <h1>Page Not Found <small><font face="Tahoma" color="red">Error 404</font></small></h1>
              <br />
              <p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
              <p><b>Or you could just press this neat little button:</b></p>
              <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
            </div>
            <br />
          
            <br />
            <div class="thumbnail span3 center">
              <p>Trying to access a page that doesn't exist? You can't be saved...</p>
              <div class="hero-unit">
                <img src="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/chinese_drug_lord.jpg">
              <br/>
        </div>
    </div>
  </div>

</body>
</html>