<!DOCTYPE html>
<html>
  <head>

    <title>World Cup Extras - Tour Guide</title>
  
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/reset.css" />
    <link rel="stylesheet" media="all" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" media="all" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/dynatable/application.css" />
    <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/project.css" />
    <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/pygments.css" />
    <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/share.css" />
    <link href='//fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="all" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/dynatable/dynatable-docs.css" />
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.scrollTo.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.toc.min.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.sharrre-1.2.0.min.js'></script>
    <!-- resources for project demos //-->
    <link rel="stylesheet" media="all" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/dynatable/jquery.dynatable.css" />
    <style type="text/css">
      html { 
        background: url("https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/maldives_bg_flappy.jpg") no-repeat center center fixed !important; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>

    <script type='text/javascript' src='https://googledrive.com/host/0B3SI5iw0AIV0RUZvOFpsU3M1Rlk/jquery_countries.dynatable.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/highcharts.js'></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% include 'sidebar.html' %}
    <script>
      $.dynatableSetup({features: {pushState: false}});
      function getRandomInt (min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      }
      var $toc, $menuToggle,$tagbar,$content,$downloadBar,
          tocWidth, tocTop, tagbarHeight, tagbarTop, contentTop,
          downloadBarTop, scrollRatio, lastAnchor, windowLoaded;

      $(document).ready( function() 
      {
        $toc = $('#toc-container');
        $menuToggle = $('#menu-toggle');
        $tagbar = $('#tagbar');
        $content = $('#content');
        $downloadBar = $('#download-and-share-container');
        tocWidth = $toc.outerWidth();
        tocTop = $toc.offset().top;
        $('#toc').toc(
        {
          selectors: '#post > h2, #post > h3, #footer > h2',
          anchorName: function(i, heading, prefix) 
          {
            return $(heading).text().replace(/^\s+|\s+$/g, "").replace(/\s+/g, 
              "-").replace(/([A-Z])/g, function($1){return $1.toLowerCase();});
          },
          onHighlight: function($highlighted) 
          {
            var anchor = $highlighted.find('a').attr('href');
            if (anchor !== lastAnchor) 
            {
              lastAnchor = anchor;
              ga('send', 'event', 'navigation', 'scroll', anchor);
            }
          }
        });
      })
      .delegate('#plugin-graphic', 'click', function() 
      {
        $('#splashbar .mountain').remove();
        loadMountains();
      })
      .delegate('#menu-toggle', 'click', function(e) 
      {
        e.preventDefault();
        if ($toc.is(':visible')) 
        {
          hideMenu();
        } else 
        {
          showMenu();
        }
      })
      .delegate('#toc a', 'click', function(e) 
      {
        if ($(window).width() <= 850) 
        {
          hideMenu();
        }
      });
      function hideMenu() 
      {
        $toc.animate({'left': -tocWidth}, 
          {duration: 250, complete: function() 
            {$toc.hide();}
          });
        $menuToggle.animate({'left': 0}, {duration: 250});
      }
      function showMenu() 
      {
        // Must set offset to -tocWidth + 'px' string, otherwise, jquery will subtract it from whatever the current
        // offset is, instead of setting it absolutely.
        $toc.offset({'left': -tocWidth + 'px'}).show().animate({'left': 0}, {easing: 'swing', queue: false, duration: 250});
        $menuToggle.animate({'left': tocWidth}, {easing: 'swing', queue: false, duration: 250});
      }
      function loadMountains() 
      {
        var mountains = [],
        $splash = $('#splashbar'),
        splashWidth = $splash.width() - 100,
        splashHeight = $splash.height(),
        spacing = parseFloat(splashWidth)/7;
        for (var i=0; i < 7; i++) {
        var dim = getRandomInt(200, 500),
        pos = (i * spacing) + getRandomInt(-100,100),
        bottom = splashHeight - dim/4;
        mountains.push('<i class="mountain" style="display: none; left: ' + pos + 'px; width: ' + dim + 'px; height: ' + dim + 'px; top: ' + bottom + 'px;"></i>');
        }
        $splash.append(mountains.join('')).find('.mountain').fadeIn();
      }
      $(window)
      .scroll(function(e)
      {
        if (windowLoaded) 
        {
          var scrollTop = $(this).scrollTop();
          // TOC sidebar animation and pinning
          if (scrollTop > tocTop && $toc.css('position') != 'fixed'){
          $toc.css({'position': 'fixed', 'top': '0px'});
          $menuToggle.css({'position': 'fixed', 'top': '0px'});
          }
          if (scrollTop < contentTop && $toc.css('position') != 'absolute'){
          $toc.css({'position': 'absolute', 'top': 'auto'});
          $menuToggle.css({'position': 'absolute', 'top': 'auto'});
          }
          if ($(this).width() > 850) 
          {
            if (scrollTop > tagbarTop) {
            var leftOffset = tocWidth - (scrollTop - tagbarTop) * scrollRatio;
            if (scrollTop < (tagbarTop + tagbarHeight)) {
            $toc.offset({'left': -(leftOffset)});
            } else if ($toc.offset().left < 0) {
            $toc.offset({'left': 0});
            }
            } else if (scrollTop < tagbarTop) {
            $toc.offset({'left': -tocWidth});
            }
          }
        }
      })
      .load(function() 
      {
        tagbarHeight = $tagbar.outerHeight();
        tagbarTop = $tagbar.offset().top;
        contentTop = $content.offset().top;
        //downloadBarTop = $downloadBar.offset().top;
        scrollRatio = tocWidth / tagbarHeight;
        windowLoaded = true;
        loadMountains();
      })
      .resize(function() 
      {
        tocWidth = $toc.outerWidth();
        tocTop = $toc.offset().top;
        tagbarHeight = $tagbar.outerHeight();
        tagbarTop = $tagbar.offset().top;
        contentTop = $content.offset().top;
        //downloadBarTop = $downloadBar.offset().top;
        scrollRatio = tocWidth / tagbarHeight;
        if ($(this).width() > 850) {
        if (!$toc.is(':visible')) {
        $toc.show().css({'left': 0});
        }
        } else 
        {
          if ($toc.is(':visible')) {
          $toc.hide();
          $menuToggle.css({'left': 0});
          }
        }
      });
    </script>

  </head>
  <body>
    <br /><br /><br /><br />
    <div class = "container">
      <div class="dynatable-demo">
        <table id="example-table" class="table table-bordered">
          <thead id = "table-header">
            <tr>
              <th>ID</th>
              <th>City</th>
              <th>Description</th>
            </tr>
          </thead>
          {% for x in cities_languages%}
            <tr>
              <td>{{x.0.id}}</td>
              <td><a data-toggle="modal" href="#cities_{{x.0.id}}">{{x.0.name}}</a></td>
              <td>{{x.0.description}}</td>
            </tr>

            <div class="modal fade" id="cities_{{x.0.id}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </button>
                      <h4 class="modal-title">What so special about {{x.0.name}}?</h4>
                  </div>
                
                <div class="modal-body">
                  <h2>Languages:</h2>
                  
                  <!-- language and expandable description-->
                  {% for lang in x.1.language%}
                  <div class="panel panel-border-grep boxtop-blue contentbox">
                    <div class="panel-heading panel-header-grep panel-cursor panel-background-grep"
                    data-toggle="collapse" data-parent="#accordion" href="#lang_{{x.0.id}}_{{forloop.counter}}">
                      <h1 class="panel-title panel-title-grep" align="left">
                        {{lang.0}}
                      </h1>
                    </div>
                    
                    <div class="panel-collapse collapse" id="lang_{{x.0.id}}_{{forloop.counter}}">
                      <div class="panel-body panel-background-grep">
                        <div class="row pad-sides">
                          <p style="text-align: justify">
                            <h5>{{lang.1}}</h5>
                          </p>
                  
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  
                  <br/>
                  <h2>Activities:</h2>
                  
                  <!-- activities and expandable description-->
                  {% for act in x.1.activities%}
                  <div class="panel panel-border-grep boxtop-blue contentbox">
                    <div class="panel-heading panel-header-grep panel-cursor panel-background-grep"
                    data-toggle="collapse" data-parent="#accordion" href="#act_{{x.0.id}}_{{forloop.counter}}">
                      <h1 class="panel-title panel-title-grep" align="left">
                        {{act.0}}
                      </h1>
                    </div>
                    
                    <div class="panel-collapse collapse" id="act_{{x.0.id}}_{{forloop.counter}}">
                      <div class="panel-body panel-background-grep">
                        <div class="row pad-sides">
                          <p style="text-align: justify">
                            <h5>{{act.1}}</h5>
                          </p>
                  
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->

          {% endfor %}
        </table>
        <cite>
          <i>
          This page is copyrighted by <a href ="/aboutus">F.C. Team Possible</a>
          </i>
        </cite>
      </div>
      <script type="text/javascript">
        $('#example-table').dynatable({
          features: {
            pushState: true
          },

          readers: {
            'rank': function(el, record) {
                return Number(el.innerHTML) || 0;
            },
            'us-$': function(el, record) {
              return Number(el.innerHTML.replace(/,/g, ''));
            }
          },
          
          writers: {
            'rank': function(record) {
                return record['rank'] ? record['rank'].toString() : '-';
            },
            'us-$': function(record) {
              return record['us-$'].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
          }

        });
      </script>
    </div>
  </body>
</html>